body, html {
  height: 100%;
  margin: 0;
  width:100%
}

h1 {
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 3em;

}

h2 {
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2em;
  text-align: left;
}

p, ol {
  color: white;
  font-size: 1.2em;
  text-align: left;
  font-family: 'Merriweather', sans-serif;

}

a {
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  text-decoration: none;
  color: white;
  font-size: 1.7em;
}

.bottom-logo {
  padding: 24px;
}

a:hover {
  color: red;
  font-weight: 900;
  text-decoration: none;;
}

img {
  padding: 32px;
  margin: 0 auto;
}

hr {
  margin: 32px auto;
  border-color: white;
}

.bg-image {
  background-image: url(ashsnow.png);

  /* background-image: url(seeds.png); */


  /*filter: blur(2px);*/


  /* Center and scale the image nicely */
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;

  height: 100%;
  width: auto;

  overflow: auto;

}


/*INDEX*/

/*Upper*/



.upper-section {
  margin: 0 auto 0 auto;
  width: 50%;
  padding: 72px;
  text-align: center;

}

.home {
  width: 80%;
}

.navbar {
  margin: 32px;
  width: 100%;
  position: relative;
  display: inline-block;

}

.navbardot {
  color: white;
  padding: 8px;
}

.navbtn {
  text-shadow: 2px 2px black;
}




/*Middle*/

.middle-section {
  text-align: center;
  padding: 32px;
  margin: 0 auto 0 auto;
  width: 50%;
  background-color: black;
  opacity: 0.9;
}

.video {
  margin: 0 auto;
  height: 440px;
}

.latest-rel {
  display: inline-block;
}

/*Bottom Section*/

.bottom-section {
  text-align: center;
  padding: 32px;
  margin: 0 auto 0 auto;
  width: 100%;
  background-color: black;
  overflow: auto;
}

.logo-img {
  margin: 0 auto 0 auto;
  width: 100%;
}

/*DISCOGRAPHY*/

.album-img {
  width: 100%;
}

.album-emb {
  margin: 42px auto;
}


/* MERCH */

.bandcamp {
  margin: auto;
  width: 50%;
  background-color: #350e3f;
}

iframe {
  border: none;
}

@media (max-width: 800px) {
  body {
    font-size: 200%;
  }

  .middle-section {
    width: 100%;
  }

  .bandcamp {
    width: 100%;
  }

  .album-img {
    padding: 20%;
  }

  h2 {
    text-align: center;
  }

  .upper-section {
    width: 100%;
    font-weight: bold;
  }

  .album-emb {
    width: 100%;
  }

  .bg-image {
  }
}
